# Auto detect text files and perform LF normalization
* text=auto

# Markdown files
*.md text eol=lf

# Python files
*.py text eol=lf

# Config files
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Windows batch files
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.db binary
*.zip binary
*.exe binary
